 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
     background: url('https://wallpapercave.com/wp/wp1813726.jpg');
     background-size: cover;
     font-family: 'Open Sans' sans-serif;
 }
 body::before{
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.7);
 }
 .clearfix{
     clear:both;
 }
 #loginForm{
     position: absolute;
     width: 300px;
     height: auto;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%); 
 }
 #loginForm h1 {
     color: #ecf0f1;
     font-size: 25px;
 }
 .form-group{
     position: relative;
     width: 100%;
     height: auto;
     margin-bottom: 20px;
 }
 .form-group i{
     width: 20px;
     height: 35px;
     line-height: 35px;
     font-size: 20px;
     float: left;
     color: #ecf0f1;
 }
 .form-group input[type="text"],
 .form-group input[type="password"]{
     width: calc(100% - 25px);
     height: 35px;
     float: right;
     text-indent: 5px;
     font-size: 16px;
     border:0;
     background: transparent;
     color: #ecf0f1;
 }
 .inputStyle::after{
     position: absolute;
     content: '';
     width: 0%;
     height: 1px;
     background: #ecf0f1;
     transition: all ease .7s;
 }
 .inputStyle:hover::after{
     width: 100%;
     transition: all ease .7s;
 }
 .form-group input[type="submit"]{
     display: block;
     width: 100%;
     height: 35px;
     margin: 0 auto;
     border:solid 1px #ecf0f1;
     background: transparent;
     color: #ecf0f1;
     cursor: pointer;
     transition: all ease .7s;
     font-size: 16px;
 }
 .form-group input[type="submit"]:hover{
     border-radius: 5px;
     transition: all ease .5s;
     background: #000;
     border:solid 1px #000;
 }